work/
.nextflow/
results/

*.fastq
*.fastq.gz
*.fq
*.bam
*.sam
*.sif
*.img
*.log
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.docker/
.gitconfig
.java/
.lesshst
.nextflow.log
.nextflow/
.pki/
.profile
.singularity/
.wget-hsts
work/
results/
data/

